ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    padding: 10px;
    border: 1px solid blue;
    margin: 0 5px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

a:active{
    background-color: blue;
}