.login-form{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.post-input{
  width: 100%;
  margin: auto;

}

.card{
  background-color: rgb(109, 114, 114);
  width: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}